title {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: #333;    
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    color: #555;    
}   
p {
    font-family: 'Courier New', Courier, monospace;
    color: #666;    
}